---
import MachineDiagram from "@components/MachineDiagram.astro";
import { createPromiseMachine, delay } from "matchina";

const make = () =>
  createPromiseMachine(async (_message: string) => await delay(1000));
---

<div class="h-64 w-full">
  <MachineDiagram machine={make} />
</div>
