@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

:root {
	--primary: var(--sl-color-accent);
	--secondary: var(--sl-color-gray-4);
	--accent: var(--sl-color-accent-high);
	--card: var(--sl-color-bg);
	--font-sans: var(--sl-font-system, 'Atkinson Hyperlegible', sans-serif);
	--forcegraph-edge-bg: #eee
}


html[data-theme='dark'] {
	--primary: var(--sl-color-accent-high);
	--secondary: var(--sl-color-gray-2);
	--accent: var(--sl-color-accent);
	--card: var(--sl-color-bg);
	--forcegraph-edge-bg: #000;
	--forcegraph-edge-label: #ddd;

}